html,
body,
#root,
.app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 12px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: '#fff';
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #001529;
  border-radius: '10px';
}


